.list-songs {
  overflow: hidden scroll;
  background-color: #1e293b;
  height: calc(100vh - 19.2rem);
}

.list-header {
  position: sticky;
  color: #fff;
  background-color: #334155;
}

.list-header-tr {
  line-height: 4.8rem;
}

.list-songs__table {
  table-layout: auto;
  width: 100%;
  position: relative;
  font-size: 1.6rem;
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.listSong-amount,
.listSong-download {
  width: 10%;
  text-align: center;
  min-width: 3rem;
}

.listSong-title {
  text-align: left;
  width: 60%;
}

.listSong-singer {
  width: 20%;
  text-align: center;
}

.listSong-body-center {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listSong-body {
  line-height: 4.8rem;
  color: gray;
  cursor: pointer;
}

.listSong-body__active,
.listSong-body__active td a {
  color: #57e6cf;
  background-color: #475569;
}

.listSong-body:hover {
  background-color: #475569;
}

.listSong-body a {
  color: gray;
}
