.rhap_container.rhap_loop--off.rhap_play-status--paused.music-player,
.rhap_container.rhap_loop--off.rhap_play-status--playing.music-player {
  background-color: #0f172a;
  height: 96px;
  padding: 8px;
}

.rhap_controls-section {
  padding: 0 16px;
}

.rhap_time {
  color: #999;
}
